.graph {
    float: left;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    width: 800px;
    margin: 10px;
    margin-left: 50px;
    text-align: center;
}